.fontnova{
  font: 20px Lato,sans-serif;
}
.fontnova p{
  color: #58595b;
}
#midias{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#legenda{
 text-align: center; 
}
.about-section{
  width: 100%;
  background: #f1f1f1;
  padding: 40px 0;
}
.about-section-footer{
  width: 100%;
  background: #3f3e3e;
  padding: 40px 0;
}
.inner-width{
  max-width: 1600px;
  overflow: hidden;
  padding: 30px 20px;
  margin: auto;
  /* margin-top: 60px; */
}
.inner-width-footer{
  max-width: 1600px;
  overflow: hidden;
  padding: 30px 20px;
  margin: auto;
  color: #d3d3d3;
  font-size: 10px;
}
.about-section h1{
  text-align: center;
}
.about-section-footer h1{
  text-align: center;
}
.border{
  width: 100px;
  height: 3px;
  background: #201f1f;
  margin: 40px auto;
}

/* responsivo */
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}

/* deve ser aqui */
.about-section-col{
  flex: 50%;
}
.about{
  padding-right: 30px;
}
.skills{
  padding-left: 300px;
}
.so_img1 img{
  /* margin-left: 220px; */
  display: block;
  margin-left: 50%;
  margin-right: auto;
  width: 50%;
  
}
.so_img2 img{
  /* margin-left: 220px; */
  display: block;
  margin-left: auto;
  margin-right: 50%;
  width: 50%;
  
}
.progress img{
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.about p{
  text-align: justify;
  margin-bottom: 20px;
  font-size: 25px;
  /* color: #58595b; */
}

.btnlink{
  color: #007fff;
  border: 1px solid #007fff;
  padding: 10px 20px;
  border-radius: 4px;
}
@media (max-width: 1120px){
  .about-section-col{
    flex: 100%;
    font-size: small;
  }
  .about{
    padding-right: 0px;
  }
  #email{
    font-size: 15px;
  }
  #midias a{
    
  }
}
@media (max-width: 1500px){
  .so_img1 img{
    /* margin-left: 220px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  .so_img2 img{
    /* margin-left: 220px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
}
@media (max-width: 400px){
  
  .about p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
    /* color: #58595b; */
}
.progress h1 {
  width: 90%;
  padding: 0%;
  margin: 0;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 20px;
  /* color: #58595b; */
}

  .about-section-col{
    flex: 100%;
    font-size: 15px;
  }
  .about{
    padding-right: 0px;
  }
  #email{
    font-size: 15px;
  }
  #midias {
    margin-left: -25px;
  }
}

/* .about a{
  display: inline-block;
  color: #e74c3c;
  text-decoration: none;
  border: 2px solid #e74c3c;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}  */

#testbtn a{
  display: inline-block;
  color: #007fff;
  text-decoration: none;
  border: 2px solid #007fff;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}

#testbtn a:hover{
  color: #fff;
  background: #007fff;
}