.container- {
    background-color: #fff;
    min-height: 100%;
    padding: 5rem;
}

.artigo {
    min-height: 45rem;
}

.artigo > h2, .artigo > a > h2 {
    text-align: center;
    font-size: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: auto 10px auto;
}
.grid-contato {
    display: grid;
    grid-template-columns: auto 5rem auto;
}

.elemento-img {
    max-width: 100%;
    margin: 0.5rem;
}

.elemento-texto {
    font-size: 1.3rem;
    margin: 0.5rem;
}
.destaque {
    font-size: 1.4rem;
    font-weight: bold;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.galeria-supertitulo {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.galeria-supertitulo h1 {
    margin: 0px;
}

#video-avatar {
    right: 0px;
}

#noel {
    max-width: 70%;
}

#industria {
    background-color: rgba(22, 53, 95, 0.295);
    border-radius: 10px;
    padding: 1%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-top: 10%;
    padding-bottom: 10%;
}

#botao-demonstracao {
    padding: 0px auto;
}

#img-botao{
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video-galeria{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-youtube{
    min-height: 40em;
    min-width: 50%;
}
.separador {
    height: 10rem;
}
#text-demontracao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.parceiros {
    min-height: 30rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.logo-parceiro {
    max-height: 80%;
}

@media (max-width: 600px){
    .container- {
        background-color: #fff;
        min-height: 100%;
        width: 100%;
        padding: 0px;
    }
    
    .artigo {
        min-height: 100%;
        width: 98%;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .artigo > h2 {
        text-align: center;
        font-size: 2.5rem;
    }
    
    .grid {
        display: block;
    }

    .grid-contato {
        display: block;
    }
    
    .elemento-img {
        max-width: 100%;
        margin: 0.5rem;
    }
    
    .elemento-texto {
        font-size: 1.1rem;
        margin: 0.5rem;
    }
    .destaque {
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .video-galeria{
        width: 100%;
    }
    .video-youtube {
        width: 100%;
    }
    #video-avatar {
        right: 0px;
    }
    
    #noel {
        max-width: 70%;
    }
    
    #industria {
        background-color: rgba(7, 23, 255, 0.116);
        padding: 1%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    #botao-demonstracao {
        padding: 0px auto;
    }
    
    #img-botao{
        width: 10rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #text-demontracao {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

