#solu-footer{
  background-color: hotpink;
}

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 0px;
  position: relative;
}

.footer .footer-content{
  height: 350px;
  display: flex;
  justify-content: center;
}

.footer .whats{
  text-decoration: none;
  color: rgb(184, 184, 184);
  /* padding-left: 50px; */
  }
.footer .about{
  margin-left: 100px;
  margin-right: 100px;  
  }

.footer .footer-bottom{
  background: #343a40;
  color: #686868;
  height: opx;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
/* .about a{
  margin: auto;
  display: flex;
  width: 200px; 
  height: 200px;
  transition: 0.4s;
  padding: 100px;
}
.about a:link{
  color: green;
} */
#logos{
  margin: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.about a:hover{ 
  /* transform: scale(1.3); */
}
.about a i{
  color: #d3d3d3;
  line-height: 100px;
  text-decoration: none;
}