html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  scroll-behavior: smooth;
}

a,
a:hover,
a.active {
  background: none;
  color: #464646;
}


.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 8px;
}

.header p {
  color: #fff;
  font-size: 550px;
  font-weight: lighter;
}

.header button {
  color: #fff;
  background-color: #007fff;
  padding: 18px 38px;
  border: none;
  font-size: 14px;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
}

#titulo {
  font-size: 2vw;
  text-shadow: 0.1em 0.1em 0.2em black;
}
#titulo p {
  font-size: 2vw;
  text-shadow: 0.1em 0.1em 0.2em black;
}
