#port{
  background-color: #f1f1f1;
}

#indus{
  background-color: #f1f1f1;
  
}
#indu_cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#indu_text{
  width: 50%;
}
#texto-video{
  background-color: #f1f1f1;
}
#texto-video h1{
 height: 100%;
}
.iframe-container{
  position: relative;
  width: 50%; 
  height: 500px;
  margin: auto;
  
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-container2{
  position: relative;
  width: 100%; 
  height: 500px;
  margin: auto;
  
}
.iframe-container2 iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1120px){
  .iframe-container{
    width: 100%;   
  }
  .iframe-container2{
    width: 100%;   
  }
  #indu_cont{
    display: flex;
    flex-direction: column;
  }
}