<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/8fce93bd89.js" crossorigin="anonymous"></script>
    <link rel="icon" href="assets/img/ico/eyeico.png" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="import.css" />
    <link rel="stylesheet" href="style.css" />
    <title>EYEVISION Mídias Interativas</title>
</head>

<body>
    <!-- LANDING PAGE -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active img-carosel">
                <img class="img-fluid d-block w-100" src="./assets/img/projecao.jpg" alt="">
            </div>
            <div class="carousel-item img-carosel">
                <img class="img-fluid d-block w-100" src="./assets/img/promotora.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item img-carosel">
                <img class="img-fluid d-block w-100" src="./assets/img/18295.jpg" alt="Terceiro Slide">
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a> -->
        <div id="particles-js"></div>
    </div>





    <div class="header">
        <p id="titulo"></p>
    </div>

    <nav class="nav navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img class="nav-logo" src="assets/img/logo.png" alt="Smiley face" height="55" width="180" loading="lazy">
        </a>
        <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="index.html#inicio">Página Inicial</a>
                <a class="nav-link" href="index.html#solucoes">Soluções</a>
                <a class="nav-link" href="index.html#demonstracao">Demo</a>
                <a class="nav-link" href="#">Blog Eventos</a>
                <a class="nav-link" href="#">Mídia</a>
                <a class="nav-link" href="#">Notícias</a>

                <div class="dropdown">
                    <button class="dropbtn"><span class="navbar-toggler-icon"></span></button>
                    <div class="dropdown-content">
                        <a href="index.html#inicio">Página Inicial</a>
                        <a href="index.html#solucoes">Soluções</a>
                        <a href="index.html#demonstracao">Demo</a>
                        <a href="#">Blog Eventos</a>
                        <a href="#">Mídia</a>
                        <a href="#">Notícias</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>


    <!-- Landing Page -->

    <!-- Página -->

    <main id="blogApp" class="container-">

        <section class="artigo container">
            <h2 class="texto-centralizar">Eventos</h2>
            <div class="border"></div>
            <hr>
            <article v-for="evento in eventos" :key="'evento'+evento.index">
                <div v-if="evento.lerMais">
                    <h1>{{evento.titulo}}</h1>
                <img class="img-fluid" :src="evento.imagemDestacada" :alt="evento.imagemAlt">
                <p v-html="evento.texto"></p>
                <a @click="evento.lerMais = !evento.lerMais">Veja Menos</a>
                <ul>
                    <li v-if="imagem" v-for="imagem in evento.imagens"><img class="img-fluid" :src="imagem" alt=""></li>
                    <li v-if="video" v-for="video in evento.videos"><video :src="video"></video></li>
                </ul>
                <a @click="evento.lerMais = !evento.lerMais">Veja Menos</a>
                </div>
                <div v-else>
                    <h1>{{evento.titulo}}</h1>
                <img class="img-fluid" :src="evento.imagemDestacada" :alt="evento.imagemAlt">
                <p :inner-html.prop="evento.texto  | truncate(140)"></p>
                <p><a @click="evento.lerMais = !evento.lerMais">Leia Mais</a></p>

                </div>
            </article>
        </section>

    </main>
    <!-- Página -->

    

    <!-- Novo footer -->

    <footer>
        <section class="container-fluid footer-">
            <div class="grid">
                <div class="elemento-texto">
                    <div>
                        <img class="nav-logo" src="assets/img/logo.png" alt="">
                        <hr>
                        <p>
                            Quer desenvolver projetos inovadores?<br>
                            Deseja inovar a experiência de compra do seu cliente ou a forma de divulgar seu produto,
                            serviço ou marca?
                        </p>
                        <p>Entre com contato com EYEVISION Mídias Interativas</p>
                        <hr style="border: 0; border-top: 1px solid #fff;">
                    </div>

                    <div class="grid">
                        <div>
                            <ul>
                                <li>E-mail:</li>
                                <li>
                                    <hr>
                                </li>
                                <li><a href="mailto:eyevision@eyevision.ai" class="contato-link"
                                        target="_blank">eyevision@eyevision.ai</a></li>
                            </ul>
                        </div>

                        <div style="margin-left: 28%;">
                            <ul>
                                <li>Telefones</li>
                                <hr>
                                <li>+55 41 99281-4373 |<a href="https://wa.me/5541992814373" class="contato-link"
                                        target="_blank">+55 41 99517-8962</a></br></li>
                            </ul>
                        </div>

                    </div>


                    <div class="separacao"></div>
                    <p class="elemento-texto">

                    </p>
                </div>
                <div class="separador"></div>
                <div id="footer-texto-direita">
                    <p>Siga EYEVISION nas redes sociais</p>
                    <div id="midias">
                        <a style="color: white; padding: 20px;"
                            href="http://www.linkedin.com/company/eyevision-m%C3%ADdias-interativas" target="_blank"><i
                                class="fab fa-linkedin fa-4x logo-midias"></i></a>
                        <a style="color: white; padding: 20px;"
                            href="https://business.facebook.com/EyeVision-M%C3%ADdias-Interativas-102894781407979/?modal=admin_todo_tour"
                            target="_blank"><i class="fab fa-facebook fa-4x logo-midias"></i></a>
                        <a style="color: white; padding: 20px;" href="https://www.instagram.com/eyevision.ai/?hl=pt-br"
                            target="_blank"><i class="fab fa-instagram fa-4x logo-midias"></i></a>
                        <a style="color: white; padding: 20px;" href="https://wa.me/5541992814373" target="_blank"><i
                                class="fab fa-whatsapp fa-4x logo-midias"></i></a>
                    </div>
                </div>
            </div>
            <div class="centralizar">



            </div>
        </section>
    </footer>


    <!-- FOOTER -->
    <div class="footer">
        <div class="footer-bottom">
            EYEVISION Mídias Interativas &copy; 2021. Todos os direitos reservados.
        </div>
    </div>
    <!-- //FOOTER -->

    <!-- SCRIPTS -->

    <!-- script de particulas -->
    <script type="text/javascript" src="js/particles.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- efeito no nav -->
    <script type="text/javascript" src="js/nav.js"></script>

    <!-- animate -->
    <!-- GOOGLE -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170464454-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-170464454-1");
    </script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    
</body>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue2-filters/dist/vue2-filters.min.js"></script>
<script>
    let app = new Vue({
        el: "#blogApp",
        data: {
            eventos: [
                
                {
                    lerMais: false,
                    titulo: "Vaticano",
                    texto: `No dia 18 de Setembro de 2020 foi realizado o “Dia da Tecnologia” da empresa Vaticano localizada na cidade de Curitiba/PR, onde os colaboradores tiveram a oportunidade de conhecer alguns recursos tecnológicos oferecidos pela empresa.<br>
                    Nosso mascote holográfico EYETRON foi atração do evento, onde recepcionou todos os convidados que compareceram explicando todo o roteiro do dia. A interação ocorreu por meio de Inteligência Artificial por meio de reconhecimento facial e chatbot.`,
                    imagemDestacada: "assets/img/vaticano/IMG_8428.jpg",
                    videoDestacado: "teste de video",
                    imagemAlt: "teste imagem alt",
                    imagens: [
                        "assets/img/vaticano/IMG_8410.jpg",
                        "assets/img/vaticano/IMG_8411.jpg",
                        "assets/img/vaticano/IMG_8414.jpg",
                        "assets/img/vaticano/IMG_8416.jpg",
                        "assets/img/vaticano/IMG_8420.jpg",
                        "assets/img/vaticano/IMG_8421.jpg",
                        "assets/img/vaticano/IMG_8426.jpg",
                    ],
                    videos: [
                        "",

                    ],
                    
                },
            ],
        },
    })
</script>


</html>