/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
} */
@font-face {
  font-family: montSerrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

p, h1, h2, h3, h4{
  font-family: "montSerrat", sans-serif;
}

a, a:hover, a:link {
  text-decoration:none; 
}
.filtroPB{
  transition: .5s;
}
.filtroPB:hover{
  transition: .5s;
  filter: grayscale(90%);
}
p {
  text-align: justify;
}