/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
} */
@font-face {
  font-family: roboto;
  src: url('./assets/fonts/Roboto-Light.ttf');
}

p, h1, h2, h3, h4{
  font-family: sans-serif;
}

a, a:hover, a:link {
  text-decoration:none; 
}