/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
} */
@font-face {
  font-family: montSerrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: lato;
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: lato;
  src: url('./assets/fonts/Lato-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: lato;
  src: url('./assets/fonts/Lato-Italic.ttf');
  font-weight: italic;
}

p, h1, h2, h3, h4, a, li{
  font-family: "lato", sans-serif;
}
p {
  text-align: justify;
  font-size: 20px;
}
h1, h2 {
  font-weight: bold;
}
a, a:hover, a:link {
  text-decoration:none; 
}
.filtroPB{
  transition: .5s;
}
.filtroPB:hover{
  transition: .5s;
  filter: grayscale(90%);
}
